<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs') %>
<body>
    <h1>Budgtr All</h1>
    <button type="button" onclick="location.href='/budgets/new'">New Entry</button>
    <div class="container">
        <% total = null
        for (let i=0; i<sum.length; i++){
            total += sum[i]}
            // $('.account-total')[0].css("backgroundColor", "red")
            %>
            <div class="account-total" style="height:30px; width:40px; display: inline; font-size: medium;"> Total: $<%=total%></div>
        <table>
            <% for(oneEntry in allEntries){ %>
            <tr>
                 <td><%=allEntries[oneEntry].date%></td>
                <td><a href="/budgets/<%=oneEntry%>"><%=allEntries[oneEntry].name%></a></td>
                <td><%=allEntries[oneEntry].amount %></td>
            </tr>
            <% } %>
        </table>
    </div>
</body>
</html>