<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs') %>
<body>
    <div class="container">
        <h1><%= entry.name %></h1>
        <button type="button" onclick="location.href='/budgets/'">Back</button>
        <ul>
            <li>Date: <%= entry.date %></li>
            <li>Name: <%= entry.name %></li>
            <li>From: <%= entry.from %></li>
            <li>Amount: $<%= entry.amount %></li>
            <li>Tags: <%= entry.tags.join(', ') %></li>
        </ul>
    </div>
</body>
</html>